.App {
  text-align: center;
  display: grid;
  grid-template:
    "navbar navbar navbar" 4em
    "...... main   ......" 1fr
    / 1fr 10fr 1fr;
}

div#navbar-container {
  grid-area: navbar;
}

div#main-container {
  grid-area: main;
}

div#movie-show-top {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    "details reviews " 1fr
    "details reviews" auto
    / 1fr 1fr;
}

div#movie-details {
  grid-area: details;
}

div#movie-show-bottom {
  grid-area: reviews;
  display: flex;
  flex-direction: column;
}

div#movie-show-top {
  display: grid;
}
body {
  background-color: lightsteelblue;
}

.ui.search > .search-bar + .results {
  position: relative;
  margin: 0 auto;
}

div.ui.pointing.secondary.menu {
  background-color: white;
}

div.movie.details {
  background-color: white;
}
